{% extends "internal_page.html" %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% comment %}
  This is the template for entering a new Essey.
{% endcomment %}

{% block head %}
  <title>Enter new Essey | {% block title %}{% endblock %}</title>
{% endblock %}

{% block content %}


      <h3>Add new essey</h3>
      <hr />
      <div class="row">
        <div class="col-md-6">
            <form method="post" role="form">
                {% csrf_token %}
                {%  bootstrap_field form.reagent %}
                {%  bootstrap_field form.idcard %}
                {% buttons %}
                <div class="cellpanel_toolbar">
                  <input type="submit" class="btn btn-primary" value="Save" />
                  <a href="/essey/" class="btn btn-default" onclick="return App.click(this);">Cancel</a>
                </div>
                {% endbuttons %}
            </form>
            <script>

               $("#id_reagent").change(function () {
                 var id = $(this).val();

                 $.ajax({
                     url: '/ajax/validate_reagent/',
                     data: {
                       'id': id
                     },
                     dataType: 'json',
                     success: function (data) {
                       if (data.is_checked) {
                         alert("Reagent requires ID card.");
                         $("#id_idcard").show();
                         $('label[for="id_idcard"]').show();
                            } else {
                              $("#id_idcard").hide();
                              $('label[for="id_idcard"]').hide();
                            }
                          }
                        });
                      });
            </script>
          </div>
        </div>
{% endblock %}
