{% extends "base.html" %}
{% load bootstrap3 %}

{% comment %}
  Main first page.
{% endcomment %}

{% block head %}
  <title>Main First page | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>QCapp</h1>
    <p>QCapp is quality control application used for daily controls of reagents
      at ZTM in patients laboratory. You can use the application only after you
      login.
    </p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a href="/login/" class="btn btn-default">Login</button>
    </div>
    <div class="col-sm-4">
      <a href="/register/" class="btn btn-default">Register</button>
    </div>
  </div>
</div>



{% endblock %}
