{% extends "base.html" %}
{% load bootstrap3 %}

{% comment %}
  This is the template for all internal pages (pages that are beyond login)
{% endcomment %}

{% block body %}
<div class="container main-body">
  <nav class="navbar navbar-default" role="navigation">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">QCapp</a>
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li {% if active_page == 'home' %} class="active" {% endif %}><a href="/">Home</a></li>
           <li {% if active_page == 'cellpanel' %} class="active" {% endif %}><a href="#">Cell Panel</a></li>
           <li {% if active_page == 'reagent' %} class="active" {% endif %}><a href="/reagent/">Reagent</a></li>
           <li {% if active_page == 'idcard' %} class="active" {% endif %}><a href="#">IDCard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/reagent/">Reagents</a></li>
        <li class="active"><a href="/reagent/new/">New</a></li>
      </ol>
  </div>

  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        {% if messages %}
          {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
  </div>

    {% block content %}

    {% endblock %}

    <div class="container text-center"
          <p style="padding-top: 50px;" class="center-block">
              <a href="#" target="_newtab">Terms of Service</a> -
              QCapp © <a href="#">anuschka 2016</a>
          </p>
    </div>

</div>

{% endblock %}
