{% extends "base.html" %}
{% load bootstrap3 %}

{% comment %}
  This is the template for all internal pages (pages that are beyond login)
{% endcomment %}

{% block body %}
<div class="container main-body">
  <nav class="navbar navbar-default" role="navigation">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">QCapp</a>
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li {% if active_page == 'home' %} class="active" {% endif %}><a href="/">Home</a></li>
           <li {% if active_page == 'cellpanel' %} class="active" {% endif %}><a href="/cellpanel/">Cell Panel</a></li>
           <li {% if active_page == 'reagent' %} class="active" {% endif %}><a href="/reagent/">Reagent</a></li>
           <li {% if active_page == 'idcard' %} class="active" {% endif %}><a href="/idcard/">ID-Card</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>


  {% include "snippets/messages.html" %}

    {% block content %}

    {% endblock %}

    <div class="container text-center"
          <p style="padding-top: 50px;" class="center-block">
              <a href="#" target="_newtab">Terms of Service</a> -
              QCapp © <a href="#">anuschka 2016</a>
          </p>
    </div>

</div>

{% endblock %}
