{% extends "base.html" %}
{% load bootstrap3 %}

{% comment %}
  Main login page.
{% endcomment %}

{% block head %}
  <title>Main login page | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
  <div class="container main-body">
    <h3>Login to your account</h3>
    <form method="post" action="/login/" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
                <button name="submit" class="btn btn-primary">Log in</button>
          {% endbuttons %}
          <input type="hidden" name="next" value="{% url 'index' %}" />
    </form>
<!--
    {% if error %}

      <div>
        There were errors: {{ error }}
      </div>

    {% endif %}

    <form method="post" action="/login/">
      {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <input type="submit" value="Login">
    </form>
-->

    <div>
      <p>
      Are you new to the app? <a href="/register/">Register here>></a>
    </p>
    </div>

  </div>
{% endblock %}
