{% extends "base.html" %}
{% comment %}
  Main page to authenticate users.
{% endcomment %}

{% block head %}
  <title>Django application| Login</title>
{% endblock %}

{% block body %}
  <header>
    <h1>Django application</h1>
  </header>

  <section>
    <h2>Login</h2>

    {% if error %}

      <div>
        There were errors: {{ error }}
      </div>

    {% endif %}

    <form method="post" action="/login/">
      {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <input type="submit" value="Login">
    </form>


    <div>
      <p>
      Are you new to the app? <a href="/register/">Register here>></a>
    </p>
    </div>

  </section>
{% endblock %}
