{% extends "base.html" %}
{% comment %}
  This is the main template for all application pages.
{% endcomment %}

{% block head %}
  <title>Django Application | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
  <header>
    <h1>Django Application</h1>
  </header>

  <section>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
  </section>

  {% block content %}
    <h2>Cells</h2>

    {% for cell in cells %}
    <p>
      Cell:
      <br/>Number {{ cell.number }}
      <br/>Type {{ cell.type }}
      <br/>Lot {{ cell.lot }}
      <br/>Expiry {{ cell.expiry }}
      <br/>Created at {{ cell.created_at }}
    </p>
    {% endfor %}

    <h2>Reagent</h2>

    {% for reagent in reagents %}
    <p>
      Reagent:
      <br/>Type {{ reagent.type }}
      <br/>Lot {{ reagent.lot }}
      <br/>Expiry {{ reagent.expiry }}
      <br/>Manufacturer {{ reagent.manufacturer }}
      <br/>Does it require ID card {{ reagent.requiresIDcard }}
      <br/>Created at {{ reagent.created_at }}
    </p>
    {% endfor %}

    <h2>IDcards</h2>

    {% for idcard in idcards %}
    <p>
      IDcard:
      <br/>Type {{ IdCard.type }}
      <br/>Lot {{ IdCard.lot }}
      <br/>Expiry {{ IdCard.expiry }}
      <br/>Manufacturer {{ IdCard.manufacturer }}
      <br/>Created at {{ IdCard.created_at }}
    </p>
    {% endfor %}

<!--
    <p>
      <a href="/portal/add_cell/">Add a cell</a>
    </p>
-->
  {% endblock %}

  <footer>
    <span>&copy; 2016</span>
  </footer>
{% endblock %}
