{% extends "internal_page.html" %}
{% load bootstrap3 %}
{% comment %}
  This is the template for searching reagents.
{% endcomment %}

{% block head %}
  <title>Reagents search | {% block title %}{% endblock %}</title>
{% endblock %}

{% block content %}


      <div class="row">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/reagent/">Reagents</a></li>
            <li class="active"><a href="/reagent/search-form/">Search</a></li>
          </ol>
      </div>

      <form action="/reagent/search-form/" method="get" role="form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                  {% bootstrap_field form.keyword %}
              </div>
            {% buttons %}
              <div class="reagent_toolbar">
                <input type="submit" class="btn btn-primary" value="Search" />
              </div>
            {% endbuttons %}
            </div>
        </form>

      <p>You searched for: <strong>{{ query }}</strong></p>

      {% if object_list %}
      <p>Found {{ object_list|length }} reagent{{ object_list|pluralize }}.</p>
      <table class="table text-center">
          <thead>
              <tr>
                  <th class="text-center">Type</th>
                  <th class="text-center">Manufacturer</th>
                  <th class="text-center">Lot</th>
                  <th class="text-center">Expiry</th>
                  <th class="text-center" class="text-center">RequiresIDcard</th>
                  <th class="text-center">Created at</th>
              </tr>
          </thead>
          <tbody>
            {% for reagent in object_list %}
              <tr>
                <td><a href="/reagent/{{reagent.id}}/edit/">{{ reagent.type }}</a></td>
                <td>{{ reagent.manufacturer }}</td>
                <td>{{ reagent.lot }}</td>
                <td>{{ reagent.expiry | date:"d/m/Y"}}</td>
                <td>{% if reagent.requiresIDcard %} Yes {% else %} No {% endif %}</td>
                <td>{{ reagent.created_at | date:"d/m/Y H:i"}}</td>
                <td><a href="/reagent/{{reagent.id}}/edit/" class="btn btn-default btn-sm">edit</a></td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      <div class="row">
              <div class="text-center">
                {% include 'snippets/pagination.html' %}
              </div>
      </div>


      {% else %}
        <p>No reagents matched your search criteria.</p>
      {% endif %}
{% endblock %}
