{% extends "internal_page.html" %}
{% comment %}
  This is the template for displaying all reagents.
{% endcomment %}

{% block head %}
  <title>Reagents display all | {% block title %}{% endblock %}</title>
{% endblock %}

{% block content %}


      <div class="row">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/reagent/">Reagents</a></li>
            <li class="active"><a href="/reagent/new/">New</a></li>
          </ol>
      </div>

      {% if error %}

        <div>
          There were errors: {{ error }}
        </div>

      {% endif %}

      <h3>Add new reagent</h3>
      <hr />
      <div class="row">
        <div class="col-md-6">
            <form action="/reagent/new/" method="post" role="form">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label" for="ReagentType">Reagent Type</label>
                  <input type="text" class="form-control" id="ReagentType" placeholder="Reagent Type" value="{{ type }}">
                </div>

                <div class="form-group">
                  <label class="control-label" for="ReagentManufacturer">Reagent Manufacturer</label>
                  <input type="text" class="form-control" id="ReagentManufacturer" placeholder="Reagent Manufacturer" value="{{ manufacturer }}">
                </div>

                <div class="form-group">
                  <label class="control-label" for="ReagentLot">Reagent Lot</label>
                  <input type="text" class="form-control" id="ReagentLot" placeholder="Reagent Lot" value="{{ lot }}">
                </div>

                <div class="form-group">
                  <label class="control-label" for="ReagentExpiry">Reagent expiry</label>
                  <input type="date" class="form-control" id="ReagentExpiry" placeholder="Reagent expiry" value="{{ expiry }}">
                </div>

                <div class="checkbox">
                  <label>
                      <input class="control-label" type="checkbox" value="{{ requiresIDcard }}">RequiresIDcard
                  </label>
                </div>

                <div class="reagent_toolbar">
                  <button class="btn btn-primary" id="Save">Save</button>
                  <a href="/qcapp/" class="btn btn-default" onclick="return App.click(this);">Cancel</a>
                </div>
            </form>
          </div>
        </div>
{% endblock %}
