{% extends "internal_page.html" %}
{% comment %}
  This is the template for displaying all reagents.
{% endcomment %}

{% block head %}
  <title>Reagents display all | {% block title %}{% endblock %}</title>
{% endblock %}

{% block content %}


      <div class="row">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/reagent/">Reagents</a></li>
            <div class="btn-group pull-right">
                  <a href="#" type="button" class="btn btn-xm btn-default" onclick="">
                      &nbsp;<span class="fa fa-search"></span>&nbsp;
                  </a>

                  <button type="button" class="btn btn-default btn-xm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 5px;">
                    Actions <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/reagent/new">Add new reagent</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/reagent/?sortBy=expiryDate">Sort by expiry</a></li>
                    <li><a href="/reagent/?sortBy=entryDate" onclick="return App.click(this);">Sort by Entry date</a></li>
                  </ul>
            </div>
          </ol>
      </div>


    <h3>All reagents</h3>
    <table class="table text-center">
        <thead>
            <tr>
                <th class="text-center">Type</th>
                <th class="text-center">Manufacturer</th>
                <th class="text-center">Lot</th>
                <th class="text-center">Expiry</th>
                <th class="text-center" class="text-center">RequiresIDcard</th>
                <th class="text-center">Created at</th>
            </tr>
        </thead>
        <tbody>
          {% for reagent in reagents %}
            <tr>
              <td><a href="/reagent/{{reagent.id}}/edit/">{{ reagent.type }}</a></td>
              <td>{{ reagent.manufacturer }}</td>
              <td>{{ reagent.lot }}</td>
              <td>{{ reagent.expiry | date:"d/m/Y"}}</td>
              <td>{% if reagent.requiresIDcard %} Yes {% else %} No {% endif %}</td>
              <td>{{ reagent.created_at | date:"d/m/Y H:i"}}</td>
              <td><a href="/reagent/{{reagent.id}}/edit/" class="btn btn-default btn-sm">edit</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <div class="row">
            <div>
              <a href="/reagent/new" class="btn btn-default add-new-reagent-button">Add new</a>
            </div>
            <div class="text-center">
                <ul class="pagination">
                  {% if reagents.has_previous %}
                      <li><a href="?page=1"><<</a></li>
                      <li><a href="?page={{reagents.previous_page_number }}"><</a></li>

                  {% endif %}

                  {% for i in paginator.page_range %}
                      <li {% if reagents.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
                  {% endfor %}

                  {% if reagents.has_next %}
                      <li><a href="?page={{ reagents.next_page_number }}">></a></li>
                      <li><a href="?page={{ reagents.paginator.num_pages }}">>></a></li>
                  {% endif %}
                </ul>
            </div>
    </div>
  {% endblock %}
