{% extends "internal_page.html" %}
{% load bootstrap3 %}
{% comment %}
  This is the template for displaying all reagents.
{% endcomment %}

{% block head %}
  <title>Reagents display all | {% block title %}{% endblock %}</title>
{% endblock %}

{% block content %}


      <div class="row">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/reagent/">Reagents</a></li>
            <li class="active"><a href="/reagent/new/">New</a></li>
          </ol>
      </div>

      <h3>Add new reagent</h3>
      <hr />
      <div class="row">
        <div class="col-md-6">
            <form action="/reagent/new/" method="post" role="form">
                {% csrf_token %}
                {% bootstrap_form form  %}
                {% buttons %}
                <div class="reagent_toolbar">
                  <input type="submit" class="btn btn-primary" value="Save" />
                  <a href="/reagent/" class="btn btn-default" onclick="return App.click(this);">Cancel</a>
                </div>
                {% endbuttons %}
            </form>
          </div>
        </div>
{% endblock %}
