{% extends "internal_page.html" %}
{% comment %}
  This is the template for displaying all reagents.
{% endcomment %}

{% block head %}
  <title>Reagents display all | {% block title %}{% endblock %}</title>
{% endblock %}

{% block content %}


      <div class="row">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/reagent/">Reagents</a></li>
            <div class="btn-group pull-right">
                  <a href="#" type="button" class="btn btn-xm btn-default" onclick="">
                      &nbsp;<span class="fa fa-search"></span>&nbsp;
                  </a>

                  <button type="button" class="btn btn-default btn-xm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 5px;">
                    Actions <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" onclick="">Add new reagent</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" onclick="return App.click(this);">Sort by expiry</a></li>
                    <li><a href="#" onclick="return App.click(this);">Sort by Entry date</a></li>
                  </ul>
            </div>
          </ol>
      </div>


    <h2>All reagents</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Lot</th>
                <th>Expiry</th>
                <th>RequiresIDcard</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
          {% for reagent in reagents %}
            <tr>
              <td>{{ reagent.type }}</td>
              <td>{{ reagent.manufacturer }}</td>
              <td>{{ reagent.lot }}</td>
              <td>{{ reagent.expiry }}</td>
              <td>{{ reagent.requiresIDcard }}</td>
              <td>{{ reagent.created_at }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}
