{% extends "internal_page.html" %}
{% comment %}
  This is the template for displaying all reagents.
{% endcomment %}

{% block head %}
  <title>Reagents search | {% block title %}{% endblock %}</title>
{% endblock %}

{% block content %}


      <div class="row">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/reagent/">Reagents</a></li>
            <li class="active"><a href="/reagent/search/">Search</a></li>
          </ol>
      </div>

      {% if form.errors %}

        <div class="alert alert-danger">
          There were errors: {{ form.errors }}
        </div>

      {% endif %}

      {% if error %}
        <p style="color: red;">Please submit a search term.</p>
      {% endif %}

      <div class="row">
          <form action="/reagent/search-form/" method="post" role="form">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group has-feedback">
                  <label class="control-label" for="keyword">Search reagents</label>
                  <input type="text" class="form-control" name="keyword" placeholder="Enter keyword"
                    {% if form.keyword.value %} value="{{ form.keyword.value }}" {% endif %}
                      {% if form.keyword.errors %}
                      {% for error in form.keyword.errors %}
                        <span><p class="input-field-error">{{ error|escape }}</p></span>
                        <span class="input-field-error glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      {% endfor %}
                    {% endif %}
                  </input>
                </div>
            </div>
            <div class="col-md-3">
                <div class="reagent_search">
                  <input type="submit" class="btn btn-primary" value="Search" />
                </div>
            </div>
          </form>
      </div>

      <p>You searched for: <strong>{{ query }}</strong></p>

      {% if reagents %}
      <p>Found {{ reagents_filtered|length }} reagent{{ reagents_filtered|pluralize }}.</p>
      <table class="table text-center">
          <thead>
              <tr>
                  <th class="text-center">Type</th>
                  <th class="text-center">Manufacturer</th>
                  <th class="text-center">Lot</th>
                  <th class="text-center">Expiry</th>
                  <th class="text-center" class="text-center">RequiresIDcard</th>
                  <th class="text-center">Created at</th>
              </tr>
          </thead>
          <tbody>
            {% for reagent in reagents %}
              <tr>
                <td><a href="/reagent/{{reagent.id}}/edit/">{{ reagent.type }}</a></td>
                <td>{{ reagent.manufacturer }}</td>
                <td>{{ reagent.lot }}</td>
                <td>{{ reagent.expiry | date:"d/m/Y"}}</td>
                <td>{% if reagent.requiresIDcard %} Yes {% else %} No {% endif %}</td>
                <td>{{ reagent.created_at | date:"d/m/Y H:i"}}</td>
                <td><a href="/reagent/{{reagent.id}}/edit/" class="btn btn-default btn-sm">edit</a></td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      <div class="row">
              <div class="text-center">
                  <ul class="pagination">
                    {% if reagents.has_previous %}
                        <li><a href="?page=1"><<</a></li>
                        <li><a href="?page={{reagents.previous_page_number }}"><</a></li>

                    {% endif %}

                    {% for i in paginator.page_range %}
                        <li {% if reagents.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}

                    {% if reagents.has_next %}
                        <li><a href="?page={{ reagents.next_page_number }}">></a></li>
                        <li><a href="?page={{ reagents.paginator.num_pages }}">>></a></li>
                    {% endif %}
                  </ul>
              </div>
      </div>


      {% else %}
        <p>No reagents matched your search criteria.</p>
      {% endif %}
{% endblock %}
