{% extends "base.html" %}
{% load bootstrap3 %}

{% comment %}
  Main page to register new users.
{% endcomment %}

{% block head %}
  <title>Register new user | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}



  <div class="container main-body">
    <h3>Register a new user:</h3>
    <form method="post" action="/register/" class="form">
          {% csrf_token %}
          {% bootstrap_form form  %}
          {% buttons %}
          <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
              <button name="submit" class="btn btn-primary">Register</button>
          </div>
          </div>
          {% endbuttons %}
    </form>

  </div>

{% endblock %}
