{% extends "base.html" %}
{% load bootstrap3 %}

{% comment %}
Main page to reset password.
{% endcomment %}

{% block head %}
      <title>Reset password | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}

<!-- code for displaying success or error message in template -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        {% endif %}
    </ul>

      <div class="container main-body">
        <h3>Change password:</h3>
        <form method="post" action="/reset_password/" class="form">
              {% csrf_token %}
              {% bootstrap_form form  %}
              {% buttons %}
              <div class="row">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
                  <button name="submit" class="btn btn-primary">Submit</button>
              </div>
              </div>
              {% endbuttons %}
        </form>

      </div>

{% endblock %}
