.main-body {
    padding-top: 50px;
}

.breadcrumb {
    padding: 4px 17px;
    background-color: #ffffff;
}

.footer {
    padding: 50px;
}

.reagent_toolbar {
    margin-top: 30px;
}

.input-field-error {
    color: red;
}

.add-new-reagent-button {
    margin: 20px;
}
