.main-body {
    padding-top: 50px;
}

.breadcrumb {
    padding: 4px 17px;
    background-color: #ffffff;
}

.footer {
    padding: 50px;
}

.reagent_toolbar .idcard_toolbar {
    margin-top: 25px;
}

.input-field-error {
    color: red;
}

.add-new-reagent-button .add-new-idcard-button .add-new-cellpanel-button{
    margin: 20px;
}

.reagent_search {
    margin-top: 25px;
}

/*
* === Search icon in reagents search form reagents.html ===
*/

.inside {
position:absolute;
text-indent:5px;
margin-top:5px;
}

.inp {
text-indent:20px;
}
